.odd{
    background-color: #ff0048;
    font-family: Verdana, "Dejavu Sans", sans-serif;
}

.adjust-font { 
    font-size: 24px;
}

#two {
    color:rgb(0, 0, 255);
    font-size: 36px;
}

#four {
    background-color: greenyellow;
    font: size 24px;
    font-weight: bold;
}